#cp1 {
    font-family: Impact;
    text-align: center;
}
#cp1-a{
    background-color: #845ec2;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 24px;
}
#cp1-b {
    background-color: #9b89b3;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 24px;
}
#cp1-c {
    background-color: #fcf7ff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 24px;
}
#cp2{ 
    font-family: cursive;
    text-align: center; 
}
#cp2-a {
    background-color: #ffedcb;
    text-align: center;
    font-family: cursive;
    padding: 24px;
}
#cp2-b {
    background-color: #e3ba76;
    text-align: center;
    font-family: cursive;
    padding: 24px;
}
#cp2-c {
    background-color: #a98544;
    text-align: center;
    font-family: cursive;
    padding: 24px;
}
#cp3{ 
    font-family: cursive;
    text-align: center; 
}
#cp3-a {
    background-color: #ffc3a3;
    text-align: center;
    font-family: cursive;
    padding: 24px;
}
#cp3-b{
    background-color: #f9c29b;
    text-align: center;
    font-family: cursive;
    padding: 24px;
}
#cp3-c {
    background-color: #ffc1b5;
    text-align: center;
    font-family: cursive;
    padding: 24px;
}