* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img{
    width: 100%;
    object-fit: cover;
}
#navbar {
    background-color: #5d79b0;
    display: flex;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px;
}

#navbar a:hover {
    background-color: #3b4c6f;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;

    z-index: 10;
}
.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #4d6491;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background:  #3c4e72;
}
.hi {
    text-align: center;
}
#pecan {
    background-color: white;
    padding: 50px;
    border-radius: 24px
}
#herohome {
    background-image: url("../images/10533684.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: relative;
}
#hero-1 {
    background-image: url("../images/10533684.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.card2 img {
    border-radius: 24px;
    height: 50vh;
    padding: 20px;
}
.card2 {
        background-color: white;
        padding: 20px;
        border-radius: 24px;
}
.card a { 
    background-color: #5d79b0;
    padding: 50px;
    border-radius: 24px; 
    color: rgb(231, 227, 105);
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}
.hi { 
    background-color: #5d79b0;
    padding: 10px;
    border-radius: 24px; 
    color: rgb(231, 227, 105);
    text-align: center;
    
}
p {
    background-color: #5d79b0;
    padding: 10px;
    border-radius: 24px;
    color: rgb(231, 227, 105);
    font-weight: bold;
}
#hero-2 {
    background-image: url("../images/10533684.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
#navbar2 {
    background-color: #5d79b0;
    display: flex;
    align-items: center;
}

#navbar2 a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 20px;
}

#navbar2 a:hover {
    background: linear-gradient(to top, #d1c5f1, #9da9c1);
}

#navbar2 #logo2 {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding-top: 13px;
    padding-bottom: 12px;
}
@media screen and (min-width:325px){}

